.container {
  @apply tablet:px-12 py-4 flex items-center;
  svg.logo {
    width: 80px;
    height: auto;
  }
  .body {
    @apply flex-1 flex flex-col justify-end;
    .sub-nav {
      @apply flex justify-end;
      svg {
        @apply ml-8;
        width: 30px;
        height: auto;
      }
    }
    .nav {
      @apply mt-8;
    }
    .nav > ul {
      @apply flex justify-end;
      > li {
        @apply relative uppercase font-bold cursor-pointer text-lg;
        color: var(--text-dark);
        &:not(:first-child) {
          @apply ml-10;
        }

        &:hover {
          ul {
            opacity: 1;
            transform: translate(-50%, 100%);
          }
        }

        ul {
          @apply absolute flex flex-col p-4;
          background: white;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 90%);
          transition: all 0.3s ease;
          opacity: 0;
          li {
            @apply text-lg normal-case font-normal whitespace-nowrap;
            &:hover {
              color: var(--text-dark);
            }
            &:not(:first-child) {
              @apply mt-3;
            }
            color: var(--text-highlight);
          }
        }
      }
    }
  }
}

.mobileSubNavList {
  @apply fixed top-0 right-0 w-3/4 h-full p-12;
  background: var(--primary);

  ul {
    @apply text-white uppercase text-xl;
    li:not(:first-child) {
      @apply mt-10;
    }
  }
  button.contactButton {
    @apply text-xl px-8 py-4;
  }
}

.mobileNavRoot {
  :global(.mobile-nav-enter) {
    transform: translateX(100%);
  }

  :global(.mobile-nav-enter-active) {
    transform: translateX(0%);
    transition: transform 300ms ease-in-out;
  }

  :global(.mobile-nav-exit) {
    transform: translateX(0%);
  }

  :global(.mobile-nav-exit-active) {
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
  }
}
