.background {
  background-color: var(--tertiary);

  .container {
    padding: 6rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .sectionContainer {
      h3 {
        color: var(--secondary);
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }

      p {
        margin-bottom: 1.5rem;
      }

      img {
        object-fit: cover;
      }
    }
  }
}
