.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 6rem 0;

  .infoContainer {
    .name {
      color: var(--secondary);
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .edu {
        margin-bottom: 2rem;
    }
  }
}
