.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 6rem 0;

  .infoContainer {
    .name {
      @apply text-4xl;
      color: var(--secondary);
      margin-bottom: 1rem;
    }

    .edu {
      margin-bottom: 2rem;
    }
  }
}
