.bgOverlay {
  position: absolute;
  inset: 0;
  display: flex;
}

.content {
  position: relative;
  width: 30%;
  padding: 6rem 0;
  min-height: 60vh;
  z-index: 2;
  display: flex;
  align-items: center;
  color: white;

  &.light {
    color: var(--text-dark);
  }

  h3 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
    font-family: var(--secondary-font);
  }

  p {
    @apply mt-6;
  }

  button {
    @apply mt-10;
    text-transform: uppercase;
  }
}
