.slider {
  :global(.slick-arrow)::before {
    color: var(--text-dark);
  }

  :global(.slick-slide) {
    height: max-content;
  }

  :global(.slick-prev) {
    left: 0;
    z-index: 1;
  }

  :global(.slick-next) {
    right: 0;
  }
}
