.root {
  @apply relative w-full h-full;

  .backgroundContainer {
    @apply absolute left-0 top-0 w-full h-full;
    :global(.slick-slider) {
      height: 100%;
      :global(.slick-prev) {
        left: 20px;
        z-index: 100;
        transform: rotateZ(180deg);
        svg {
          stroke: #fff;
          path {
            stroke-width: 2px;
          }
        }
        &:before {
          display: none;
        }
      }
      :global(.slick-next) {
        right: 20px;
        z-index: 100;
        svg {
          stroke: #fff;
          path {
            stroke-width: 2px;
          }
        }
        &:before {
          display: none;
        }
      }
      :global(.slick-list),
      :global(.slick-track),
      :global(.slick-slide) {
        height: 100%;
      }
      :global(.slick-slide) div {
        height: 100%;
      }
    }
  }
  .bodyContainer {
    @apply absolute bottom-8 left-8 text-white;
    &.small {
      @apply bottom-4 left-4;
    }
  }
}
