.date {
  @apply text-xl font-bold;
  color: var(--text-highlight);
}
.date + hr {
  background: var(--secondary);
  height: 2px;
}
.title {
  @apply text-4xl;
  font-family: var(--secondary-font);
  color: var(--text-highlight);
}
