.container {
  @apply flex items-center flex-wrap text-2xl;
  font-family: var(--secondary-font);
  color: var(--text-dark);
  :global(.whitespace) {
    margin-left: 10px;
  }

  @media (min-width: 780px) {
    @apply text-4xl;
  }
  .line {
    content: "";
    height: 2px;
    background: var(--text-light);
    @apply flex-1 ml-4 inline;
  }
  .actionsContainer {
    @apply ml-6;
  }
}
