.container {
  @apply flex items-center flex-wrap;
  font-family: var(--secondary-font);
  font-size: 35px;
  :global(.whitespace) {
    margin-left: 10px;
  }
  @media (min-width: 1024px) {
    font-size: 35px;
  }
  .line {
    content: "";
    height: 2px;
    background: var(--text-light);
    @apply flex-1 ml-4 inline;
  }
  .actionsContainer {
    @apply ml-6;
  }
}
