@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://db.onlinewebfonts.com/c/d51e4b7fd1f8f28effd66c0a894eb8fb?family=Begum");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #ff881f;
  --secondary: #984c16;
  --tertiary: #f6f0eb;
  --text-dark: #411b00;
  --text-light: #cb9a76;
  --text-highlight: #984c16;
  --main-font: "Montserrat";
  --secondary-font: "Begum";
}
