@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://db.onlinewebfonts.com/c/d51e4b7fd1f8f28effd66c0a894eb8fb?family=Begum');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	overflow-x: hidden;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

:root {
	--primary: #ff881f;
	--secondary: #984c16;
	--tertiary: #f6f0eb;
	--text-dark: #411b00;
	--text-light: #cb9a76;
	--text-highlight: #984c16;
	--primary-font: 'Montserrat';
	--secondary-font: 'Begum';
	--background-primary: #fff;
	--background-secondary: #f6f0eb;
}

.mobile-nav-enter {
	transform: translateX(100%);
}

.mobile-nav-enter-active {
	transform: translateX(0%);
	transition: transform 300ms ease-in-out;
}

.mobile-nav-exit {
	transform: translateX(0%);
}

.mobile-nav-exit-active {
	transform: translateX(100%);
	transition: transform 300ms ease-in-out;
}

.mobile-nav-overlay-enter {
	opacity: 0;
}

.mobile-nav-overlay-enter-active {
	opacity: 1;
	transition: opacity 300ms ease-in-out;
}

.mobile-nav-overlay-exit {
	opacity: 1;
}

.mobile-nav-overlay-exit-active {
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

.filter-list-enter {
	opacity: 0;
}
.filter-list-enter-active {
	opacity: 1;
	transition: opacity 0.3s ease;
}
.filter-list-exit {
	opacity: 1;
}

.filter-list-exit-active {
	opacity: 0;
	transition: opacity 0.3s ease;
}

.react-share__ShareButton {
	svg {
		width: 20px;
		height: 20px;
	}
}

._2R-kh {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 2rem;

	@media screen and (max-width: 768px) {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}

._3xnQP {
	opacity: 0;
}

.ais-SearchBox {
	width: 70vw
}

.ais-InfiniteHits {
    max-height: 55vh;
    overflow-y: auto;
}